<div class="table-responsive">
    <table class="table table-hover">
      
      <thead class="thead-dark">
        <tr>
          <th>Written By</th>
          <th>Title</th>
          <th>Date/Time</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <tr  class="table-row" onclick=location.href='<%= message_path(message) %>'>
              <td><%= "#{message.user.name}"%></td>
              <td><%= "#{message.title}" %></td>
              <td><%= time_ago_in_words(message.created_at) %> ago</i></td>
            </tr>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>