  <h1 class="text-xl lg:text-3xl">Welcome to iDocere</h1>

  <div class="py-10 lg:py-20 px-4 border-b border-grey-light mb-4 text-indigo-darker">
    <div class="container m-auto text-center">
    
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
              <%= image_tag 'books.jpeg', class: "d-block w-100" %>
          </div>
          <div class="carousel-item">
              <%= image_tag 'graduate cap throw.jpeg', class: "d-block w-100"  %>
          </div>
          <div class="carousel-item">
              <%= image_tag 'classroom.jpeg', class: "d-block w-100"  %>
          </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
  </div>

  <div class="max-w-lg m-auto">
    <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">
      <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
        <h3 class="mb-1">Education is Key</h3>
        <p class="leading-normal">Blog vice franzen cold-pressed sustainable chartreuse trust fund la croix celiac raclette tumblr chillwave you probably haven't heard of them raw denim meh. Live-edge cold-pressed pabst vexillologist. Umami retro keytar, photo booth cray chartreuse PBR&B. Tbh raw denim kickstarter bicycle rights slow-carb, sartorial normcore vice fanny pack taiyaki locavore.</p>
      </div>

      <div class="lg:w-1/2 w-full text-center">
        <%= image_tag 'child students.jpeg', alt: "Become a pro", width: 400 %>
      </div>
    </div>

    <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">
      <div class="lg:w-1/2 w-full">
          <h3 class="mb-1">We move together</h3>
          <p class="leading-normal">Chia vinyl +1 skateboard paleo bitters ramps kickstarter celiac. Wayfarers dreamcatcher cloud bread ennui cray whatever sartorial, fanny pack pickled enamel pin wolf pok pok biodiesel synth YOLO. Unicorn kinfolk vexillologist gastropub listicle microdosing. Pabst schlitz four dollar toast shabby chic polaroid 3 wolf moon, church-key chillwave. Fanny pack activated charcoal tumeric, hot chicken taiyaki distillery chartreuse pitchfork green juice bicycle rights twee offal unicorn live-edge hell of.</p>
      </div>
      
    </div>
  </div>
