<h3>Search Results</h3>

  <div class="container">
    <h4>Resources</h4>
    <%= render 'resourceTable', resources: @resources %>
  </div>
  <br />
  <hr>
  <div class="container">
    <h4>Messages</h4>
    <%= render 'messages/messageTable', resources: @messages %>
  </div>

